$title-text-color: #212121;
$text-color: #757575;
$activ-color: #2196F3;
$secondary-text-color: #FFFFFF;
$background-color: #2F303A;
$background-color-section: #F5F4FA;
$color-client: #AFB1B8;
$bg-color-hover: rgba(24, 140, 232, 1);
$bg-color-icon: rgba(33, 150, 243, 1);
$social-icon-active: rgba(255, 255, 255, 1);
$social-icon-bg-color: rgba(255, 255, 255, 0.1)