.client {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.client__list {
    @extend %ul;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    @media (min-width: 1200px) {
        flex-grow: 1;
        margin: 0;
    }
}
.client__item {
    height: 92px;
    margin-bottom: 0;
    width: calc((100% - 2 * 30px) / 2);
    @media (max-width: 1199px) {
    margin: 15px;
    }
    @media (min-width: 768px) {
      width: calc((100% - 3 * 30px)/3);
    }
    @media (min-width: 1200px) {
      width: 170px;
      margin-top: 50px;
    &:not(:last-child) {
            margin-right: 30px;
        }
    }
}
 .client-title {
    margin-bottom: 30px;
    @media (min-width: 1200px) {
    margin-bottom: 0;
    }
}
.client__link {
    @extend %a;
    @extend %flex;
    height: 92px;
    color: $color-client;
    border: 1px solid $color-client;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid $activ-color;
        color: $activ-color;
    }
}
.client__logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
}