.features {
    padding-top: 60px;
    padding-bottom: 60px;
    @media (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 0;
    }
}

.features__list {
    @extend %ul;
    @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    }
    @media (min-width: 1200px) {
        flex-grow: 1;
    }
}
.features__item {
    @media (max-width: 767px) {
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    }    
    @media (min-width: 768px) {
            width: 354px;
    &:nth-child(1) {
        margin-right: 30px;
        margin-bottom: 30px;
    } 
         &:nth-child(3) {
             margin-right: 30px;
         }
        }
    @media (min-width: 1200px) {
        width: 270px;
        &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

}



// .features__item:not(:last-child) {
//     margin-right: 30px;
// }
.features__icon {
    @extend %flex;
    height: 120px;
    background-color: $background-color-section;
    margin-bottom: 30px;
}

.features__title {
    @extend %h2;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $title-text-color;
    text-transform: uppercase;
}

.features__text {
    @extend %p;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $text-color;
}