.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $background-color;
}
.footer__desctop {
    @media (min-width: 1200px) {
        display: flex;
    }
}
.footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) and (max-width: 1199px) {
            width: 450px;
            margin-left: auto;
            margin-right: auto;
        }
    @media (min-width: 1200px) {
        align-items: flex-start;
    }    
}
.footer__container {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
} 
.form__subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1199px) {
            width: 450px;
            margin-left: auto;
            margin-right: auto;
        }
    @media (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}
 .footer__field {
    @media (max-width: 1199px) {
        margin-bottom: 60px;
    } 
    @media (min-width: 768px) and (max-width: 1199px) {
        margin-left: 76px;
    }
    @media (min-width: 1200px) {
    margin-right: 70px;
    }
 }
 .footer__logo {
     display: block;
     margin-bottom: 20px;
     text-align: center;
}
.footer__link {
    padding-bottom: 0;
    padding-top: 0;
    color: $secondary-text-color;
}

 .footer__social {
     display: flex;
     flex-direction: column;
     align-items: center;
    @media (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
    
    @media (min-width: 768px) and (max-width: 1199px) {
        margin-right: 89px;
    }
    @media (min-width: 1200px) {
        margin-right: 93px;
    }
 }
 .footer__title {
     @extend %h3;
     font-weight: 700;
     font-size: 14px;
     line-height: 1.143;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     margin-bottom: 20px;
     color: $secondary-text-color;
     text-align: center;
 }
 .footer__input {
    width: 100%;
    @media (min-width: 768px) and (max-width: 1199px) {
            width: 450px;
    }
        @media (min-width: 1200px) {
            width: 358px;
            margin-right: 12px;
        }
 }

 .social__item--bgcolor {
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.1);
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social__icon--fill {
     fill: $secondary-text-color;
 }