.header {
    border-bottom: 1px solid rgb(236, 236, 236);
    background-color: brown;
   

    &__nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        background-color: blue;
        z-index: 1;
    }
}
.menu-button {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    z-index: 5;
    background-color: cyan;

    margin-left: auto;
    @media (min-width:768px) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
     display: none;
}

.menu-button:hover .icon-cross,
.menu-button:hover .icon-menu {
    fill: $activ-color;
}

.menu-button:focus .icon-cross,
.menu-buttonu:focus .icon-menu {
    fill: $activ-color;
}
.menu-container {
    display: none;

    @media (max-width:767px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 480px;
        width: 100%;
        height: 796px;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
        background-color: $secondary-text-color;
        z-index: 4;
        background-color: darkgreen;

        &.is-open {
            display: block;
        }
    }

    @media (min-width:768px) {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }
}

.menu-container__social {
    @extend %ul;
    display: flex;

    @media (min-width:768px) {
        display: none;
    }
}

.menu-container__item:not(:last-child) {
    margin-right: 20px;
}

.menu-container__link {
    @extend %a;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222;
    color: $activ-color;
}
.header__nav-list {
    @extend %ul;
    display: flex;
    flex-direction: column;
    // margin-left: 93px;
}
 .header__item:nth-child(1) {
     margin-bottom: 36px;
 }
  .header__item:nth-child(2) {
      margin-bottom: 32px;
  }
   .header__item:nth-child(3) {
       margin-bottom: 302px;
   }

// .header__item:not(:last-child) {
//     margin-right: 50px;
// }

.header__link {
    @extend %a;
    display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $activ-color;
    }
}

 .header__item--active::after {

    //  content: "";
    //  display: block;
    //  width: 100%;
    //  height: 4px;
    //  background-color: $activ-color;
    //  border-radius: 2px;
 }

.header__auth-list {
    @extend %ul;
    display: flex;
    flex-direction: column-reverse;
    // margin-left: auto;
}
// .header__item:nth-child(1) {
//     margin-bottom: 36px;
// }
      

// .header__auth-item:not(:last-child) {
//     margin-right: 50px;
// }

.header__icon {
    fill: $text-color;
    vertical-align: middle;
    margin-right: 10px;

    .header__auth-link:hover &,
    .header__auth-link:focus & {
        fill: $activ-color;
    }
}

.header__auth-link {
    @extend %a;
     display: block;
    //  padding-top: 32px;
    //  padding-bottom: 32px;
     font-weight: 500;
     font-size: 24px;
    padding-bottom: 64px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: $text-color;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
         color: $activ-color;
     }
}
.header__auth-link:nth-child(2n) {
    font-size: 34px;
    padding-bottom: 32px;
    color: $activ-color;
}