.header {
    border-bottom: 1px solid rgb(236, 236, 236);
    position: relative;
    z-index: 2;

    &__nav {

        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        z-index: 1;

        @media (min-width:768px) {
            height: 80px;
        }

    }
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 25px;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    z-index: 5;
    margin-left: auto;

    @media (min-width:768px) {
        display: none;
    }
}

.menu-button .icon-menu {
    display: none;
}

.menu-button.is-open .icon-menu {
    display: block;
}

.menu-button.is-open .icon-cross {
    display: none;
}

.menu-button:hover .icon-cross,
.menu-button:hover .icon-menu {
    fill: $activ-color;
}

.menu-button:focus .icon-cross,
.menu-buttonu:focus .icon-menu {
    fill: $activ-color;
}

.menu-container {
    display: none;

    @media (max-width:767px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
        background-color: $secondary-text-color;
        z-index: 4;

        &.is-open {
            display: block;
        }
    }

    @media (min-width:768px) {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        height: 80px;
    }
}

.menu-container__modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.menu-container__social {
    @extend %ul;
    display: flex;

    @media (min-width:768px) {
        display: none;
    }
}

.menu-container__item:not(:last-child) {
    margin-right: 20px;
}

.menu-container__link {
    @extend %a;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222;
    color: $activ-color;
}

.header__nav-list {
    @extend %ul;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 88px;
    }

    @media (min-width: 1600px) {
        margin-left: 93px;
    }
}

.header__item:nth-child(1) {
    padding-bottom: 35px;

    @media (min-width: 768px) {
        padding-bottom: 0;
    }
}

.header__item:nth-child(2) {
    padding-bottom: 32px;

    @media (min-width: 768px) {
        padding-bottom: 0;
    }
}

.header__item:nth-child(3) {
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
}

.header__item:not(:last-child) {
    @media (min-width: 768px) {
        margin-right: 50px;
    }
}

.header__link {
    @extend %a;
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
    }

    &:hover,
    &:focus {
        color: $activ-color;
    }
}

.header__item--active {
    position: relative
}

.header__item--active::after {
    @media (min-width: 768px) {
        content: "";
        position: absolute;
        top: 76px;
        display: block;
        width: 100%;
        height: 4px;
        background-color: $activ-color;
        border-radius: 2px;
    }
}

.header__auth-list {
    @extend %ul;
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 768px) {
        flex-direction: column;
        margin-left: 83px;
        padding-top: 21px;
        padding-bottom: 21px;
        height: 80px;
    }

    @media (min-width: 1200px) {
        flex-direction: row;
        align-items: center;
        margin-left: 305px;
    }
}

.header__auth-item:not(:last-child) {
    @media (min-width: 1200px) {
        margin-right: 30px;
    }

}

.header__icon {
    fill: $text-color;
    vertical-align: middle;
    margin-right: 10px;

    @media (max-width: 767px) {
        display: none;
    }

    .header__auth-link:hover &,
    .header__auth-link:focus & {
        fill: $activ-color;
    }
}

.header__auth-link {
    @extend %a;
    display: block;

    font-weight: 500;
    font-size: 24px;
    padding-bottom: 64px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 768px) {
        font-size: 12px;
        padding-bottom: 10px;
    }

    @media (min-width: 1200px) {
        font-size: 14px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    &:hover,
    &:focus {
        color: $activ-color;
    }
}

.header__auth-link--color {
    @media (max-width: 767px) {
        font-size: 34px;
        padding-bottom: 32px;
        color: $activ-color;
    }

}